*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
nav{
    background-color: rgb(44,30,242);
    color: white;
    padding: 20px;
    text-align: center
}
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;1,100;1,300&family=Poppins:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&family=Satisfy&display=swap');
.container{
    background-color: rgb(255,225,209);
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 4vmax 8vmax;
    box-sizing: border-box;
}
.container>form{
    display: flex;
    flex-direction: column;
}
input,textarea,button{
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.214);
    border-radius: 5px;
    margin: 10px;
    font-size: 1.2rem;
}
button{
    border: none;
    cursor: pointer;
}
form>h1{
    text-align: center;
    margin: 30px;
}
.task{
    display: flex;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 5px;
}
.task>div{
    width: 90%;
}

.task>button{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task>button:hover{
    background-color: crimson;
}